---
layout: default
---
<div class="post">
  <div class="profile-header clearfix">
    {% if page.profile %}
      <div class="profile-image">
        {% if page.profile.image %}
          <img
            src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}"
            class="img-fluid z-depth-1 rounded"
            alt="{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}"
          >
        {% endif %}
      </div>
    {% endif %}

    <div class="profile-info">
      <h1 class="post-title">
        {{ site.first_name }}
        {{ site.middle_name }}
        {{ site.last_name }}
      </h1>
      <p class="desc">{{ page.subtitle }}</p>
      {% if page.profile.more_info %}
        <div class="more-info">{{ page.profile.more_info }}</div>
      {% endif %}
    </div>
  </div>

  <div class="clearfix">
    <div class="content">
      {{ content }}

      <div class="cta-buttons">
        <a href="mailto:mail.shubhamnagar@gmail.com" class="btn btn-primary">Contact Me</a>
        <a href="/assets/pdf/cv.pdf" class="btn btn-primary">Download Resume</a>
      </div>
    </div>
  </div>

  <!-- Skills Section -->
  <div class="skills-section">
    {% include skills.liquid %}
  </div>

  <!-- News -->
  {% if page.news and site.announcements.enabled %}
    <div class="news-section">
      <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a></h2>
      {% include news.liquid limit=true %}
    </div>
  {% endif %}

  <!-- Latest posts -->
  {% if site.latest_posts.enabled %}
    <div class="posts-section">
      <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a></h2>
      {% include latest_posts.liquid %}
    </div>
  {% endif %}

  <!-- Latest projects -->
  {% if site.latest_projects.enabled %}
    <div class="projects-section">
      <h2><a href="{{ '/projects/' | relative_url }}" style="color: inherit">latest projects</a></h2>
      {% include latest_projects.liquid %}
    </div>
  {% endif %}

  <!-- Selected papers -->
  {% if page.selected_papers %}
    <div class="papers-section">
      <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a></h2>
      {% include selected_papers.liquid %}
    </div>
  {% endif %}
</div>

<!-- Social -->
{% if page.social %}
  <div class="social">
    <div class="contact-icons">{% include social.liquid %}</div>
    <div class="contact-note">{{ site.contact_note }}</div>
  </div>
{% endif %}

{% if site.newsletter.enabled and site.footer_fixed %}
  {% include scripts/newsletter.liquid center=true %}
{% endif %}
